.tableContainer {
    padding: 20px 40px 60px 40px;
    display: flex;
    justify-content: center;
}

.customTable {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.customTable thead {
    background-color: #E7B75F;
    color: #ffffff;
}

.customTable th,
.customTable td {
    border: 1px solid #E7B75F;
    padding: 15px;
    text-align: center;
}

.customTable th {
    font-size: 1.1em;
    font-weight: bold;
}

.customTable tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.customTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .customTable {
        width: 100%;
        border: none;
    }

    .customTable td {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #E7B75F;
    }
}