.tableContainer {
    padding: 20px 15px 60px 15px;
    display: flex;
    justify-content: center;
}

.customTable {
    font-size: 17px;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.customTable thead {
    background-color: #E7B75F;
    color: #ffffff;
}

.customTable th,
.customTable td {
    font-size: 19px;
    border: 1px solid #E7B75F;
    padding: 10px 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.customTable th {
    font-weight: bold;
}

.customTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.customTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .customTable {
        width: 100%;
        border: none;
    }

    .customTable th,
    .customTable td {
        padding: 10px;
        font-size: 16px;
    }

    .customTable tr {
        margin-bottom: 10px;
        display: block;
    }

    .customTable td {
        display: block;
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    .customTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        color: #E7B75F;
    }
}