.tableContainer {
    padding: 0px 40px 60px 40px;
    display: flex;
    justify-content: center;
}

.customTable {
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.15);
    background-color: #ffffff;
    overflow: hidden;
}

.customTable th,
.customTable td {
    border: 1px solid rgba(223, 219, 219, 0.607);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.customTable thead {
    background-color: #E7B75F;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid #E7B75F;
}

.customTable th {
    font-size: 1.1em;
}

.customTable tbody tr:hover {
    background-color: #f0e4d7;
    color: #333;
}

@media (max-width: 768px) {
    .customTable {
        width: 100%;
    }

    .customTable td {
        display: block;
        padding: 10px;
        border-bottom: none;
    }
}