.tableContainer {
    padding: 0px 15px 60px 15px;
    display: flex;
    justify-content: center;
}

.customTable {
    font-size: 17px;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.15);
    background-color: #fff;
}

.customTable th,
.customTable td {
    font-size: 19px;
    border: 1px solid rgba(197, 191, 191, 0.507);
    padding: 10px 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.customTable thead {
    background-color: #E7B75F;
    color: #fff;
    font-weight: bold;
}

.customTable th {
    font-size: 1.1em;
}

.customTable td button {
    padding: 8px 20px;
    cursor: pointer;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #E7B75F;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.customTable td button:hover {
    background-color: #d9a15d;
}

.customTable td a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #E7B75F;
    text-decoration: none;
}

.customTable td a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .customTable {
        width: 100%;
    }

    .customTable th,
    .customTable td {
        padding: 10px;
        font-size: 16px;
    }

    .customTable tr {
        margin-bottom: 10px;
        display: block;
    }

    .customTable td {
        display: block;
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    .customTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        color: #333;
    }
}