.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.rules-add-form {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #E7B75F;
    border-radius: 4px;
    color: #333;
}

form button {
    display: inline-block;
    padding: 7px 40px;
    font-size: 16px;
    color: #fff;
    background-color: #E7B75F;
    border: 1px solid #E7B75F;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d9a15d;
}

.form {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.inputGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #E7B75F;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.editButton {
    width: 100%;
    padding: 10px;
    background-color: #E7B75F;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: #d9a15d;
}