.rules_container {
    background-color: #222324;
    color: white;
    padding: 15px;
}

.rules_inner_container {
    overflow-x: scroll;
    padding: 10px;
    margin: auto;
    height: calc(100vh - 170px);
    width: 330px;
    background-color: #222324;
    border: 1px solid rgb(69, 67, 67);
    border-radius: 20px;
}

.rules_title {
    font-size: 20px;
    margin-bottom: 20px;
    /* background-color: #222324; */
    /* border: 1px solid black; */
    /* position: sticky;
    top: 0%; */
    z-index: 999;
}

.rules_title span {
    color: rgb(255, 196, 0);
}